/* All purpose Css Selectors */

/*What does this do?*/
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	text-align: center;
	margin: 0 auto;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
		letter-spacing: 4.5px;
		font-weight: 300;
}    

/* Header Selectors*/
h1{
	font-size: 35px;
}

h2{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
}

h3{
	font-size: 3em;
}

h5{
	color: #E97770;
}
/* End of header selectors*/



li{
	list-style-type: none;
	
}

blockquote{
	text-align: left;
	font-size: 2em;
}

a{
	text-decoration: none;
}

/*Used for quotations */
.start-quotations, .end-quotations{
	font-size: 1.5em;
}

footer{
	padding-left: 40px;
	text-align: left;
}

button{
	background: #2F333B;
	border-radius: 10px;
	height: 50px;
	width: 250px;
	padding: 2%;
	border:0;
	/* removes focus-glow-outline*/
	outline: none;
	font-weight: 700;
	font-size: 1em;
}

button:hover{
	background: #484D55;
	/*Todo: transiton color */;

}

/* Header */
.header{
	padding: 10% 25% 10% 25%;
	background:black;
	background: url("blurred-texture-background05.jpg") no-repeat;
	text-align: center;
	color: white;
	height: 500px;
	}

.header h1{
	text-transform: uppercase;
	font-weight: 900;

}
.header li{
	display:inline;
	padding:0;
	text-align: left;

}



/* Intro  */
.intro{
	padding:1px;
	color: #EEEEEE;
	background-size:16px 16px;
	background:url('noisy-texture.png');
	height: 700px;
	font-weight: 400;
	}

.intro-content{
	padding: 100px 200px 0 200px;
	text-align: left;
}	
	
.subheading{
	border-style: solid;
	border-width: 3px;

	/*Use width instead of margin? */
	border-radius: 10px;
}

.intro-content p{
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	letter-spacing: 3px;
}





/*Details */
.details{
	background: #FFFFFF;
	padding: 0 100px 0 100px;

}

.details h3{
	color:#484d55;
}

.details h4{
	color:#b1b4b9;

}
.details img{
	width: 1200px;
	height: 300px;
}

.details .button1{
	background: #E97770;
	color: white;

}



.details button{
	margin: 50px;
}

.details li{
	border-bottom: 1px solid #454;
	
}

.bullets{
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10%;
	text-align: left;
}

.list1{
	float:left;
	width: 40%;
}

.list2{
	float: right;
	width: 40%;
}


/*entrepreneur*/
.entrepreneur{
	background:url('noisy-texture2.png');
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10%;
}


.entrepreneur-content{
	padding-top: 5%;
}

.entrepreneur img{
	height: 50%;
	width: 50%;
}

.project1 img{
	width: 32.5%;
}

.project1,.project2{
	width: 50%;
	float:left;
}


.entrepreneur img{

	border: 10px solid white;
}

.entrepreneur p{
	text-align: left;
	padding: 0 20% 0 20%;
	line-height: 30px;
	letter-spacing: 3px;
}

.entrepreneur h3{
	font-size: 1.3em;
	color: #E97770;
}







/*Footer*/


.footer h3{
	color: white;
}

.footer h2{
	color:#FFFFFF;
}

.footer p, .linebreak, .footer li, .sidebar a{
	color: #CCCCCC;
}

.footer{
	background: #282B34;
	/*TODO - Fix weird white padding thing*/
	padding:1px;
}

.content{
	padding-left: 10%;
	padding-right: 10%;
}

.linebreak{
	border-bottom: 1px solid;
}


.form{
	width: 50%;
	float:left;
}

.form-buttons{
	float:left;
	padding-right: 20px;
}




.name,.email{
	float:left;
	padding-right: 20px;
}

.message{
	text-align:left;
	padding-bottom: 30px;
}


.details-input,.message-input{
	background:#CCCCCC;
	border: none;
	border-radius: 10px;
	height: 50px;
	width: 250px;
}

.message-input{
	height: 250px;
	width: 520px;

}

/*Sidebar */
.sidebar{
	text-align: center;
	width: 50%;
	margin-top: 50px;
	float:right;
}

.top-info{
	width: 100%;
}

.bottom-info{
	width: 50%;
	float:left;
}

.top-info .social-media{
	width: 33%;
	float:left;
}

 .social-media:hover,.sidebar a:hover{
	color:#FFFFFF;
}


/* Placeholder Form styling */
::-webkit-input-placeholder {
   color: #282B34;
   padding-left: 10px;
   text-align: left;
	letter-spacing: 4.5px;
	font-weight: 600;
	font-size:  12px;

}

:-moz-placeholder { /* Firefox 18- */
   color: #AAAAAA;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #AAAAAA;  
}

:-ms-input-placeholder {  
   color: #AAAAAA;  
}

/* Buttons */
.bright{
	color: #F3F3F3;
	background: #E97770;
}

.bright:hover{
	background: white;
	border: 1px solid #CCCCCC;
	color: #E97770;
}
.bright:hover{
	color:#E37B76;

}

.inverse-bright{
	background: white;
	border: 1px solid #CCCCCC;
	color: #E97770;
}

.inverse-bright:hover{
	color: #F3F3F3;
	background: #E97770;
}

.icon-bullet{
	font-size: 36px;
	padding-right: 10px;
	color:#484d55;
}

.icon-bullet:hover{
	color: #E97770;

}

/* Floating fix*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }

/* Clears Floating */
.clear{
	clear: both;
}

